*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav{
    background: black;
    padding: 34px;
}

.header__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list{
    display: flex;
    gap: 30px;
}

.logo{
    font-size: 14px;
    line-height: 17px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__span{
    background: #4A90E2;
    border-radius: 3px;
    padding: 3px  5px;
}

.header__nav-link{
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.main{
    margin-top: 30px;
}

.main__top{
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.main__right{
    position: relative;
}

.main__right-img{
    position: absolute;
}

.min__right-button{
    position: absolute;
    color: white;
    z-index: 20;
    background: #4A90E2;
border-radius: 3px;
padding: 4px 12px;
top: 30px;
left: 10px;
}

.main__rigth-title{
    position: absolute;
    top: 442px;
    left: 10px;
    font-size: 14px;
line-height: 18px;
width: 202px;
color: #FFFFFF;

}

.main__right-text{
    position: absolute;
    left: 10px;
    top: 471px;
    bottom: 23px;
    font-size: 26px;
line-height: 36px;
/* or 138% */
width: 363px;

color: #FFFFFF;

}

.main__left-item{
    position: relative;
}

.min__left-button{
    position: absolute;
    color: white;
    z-index: 20;
    background: #4A90E2;
border-radius: 3px;
padding: 4px 12px;
top: 30px;
left: 10px;
}

.main__left-img{
    position: absolute;
}

.main__left-title{
    position: absolute;
    top: 160px;
    left: 10px;
    font-size: 14px;
line-height: 18px;
width: 202px;
color: #FFFFFF;   
}

.main__left-text{
    position: absolute;
    left: 10px;
    top: 181px;
    bottom: 23px;
    font-size: 26px;
line-height: 36px;
/* or 138% */
width: 363px;

color: #FFFFFF;
}

.min__left-top{
    display: flex;
    justify-content: space-between;
}